<!-- Pipes: | are used to transform display data -->
<h2 appColofulBg>{{ "Custom 2 Component" | uppercase }}</h2>
{{ date | date }}

<!-- style binding -->
<div
  [style.background-color]="boxColor"
  [style.width.px]="boxSize"
  [style.height.px]="boxSize"
  class="d-flex"
>
  {{ boxColor }} box
</div>

<!-- ngStyle directive -->
<div
  [ngStyle]="{
    'background-color': boxColor,
    'width.px': boxSize,
    'height.px': boxSize
  }"
  class="d-flex"
>
  {{ boxColor }} box
</div>

<!-- Event binding: () is when we bind a function from the component to DOM elements -->
<button (click)="changeStyle()">Change Style</button>

<!-- Two way binding: [(ngModel)] updates the component and the DOM in both directions. -->
<!-- ngModel is a directive from angular FormsModule and must imported -->
<!-- Template variable: #variableName is a reference to a DOM element in our html template -->
<input
  #emailRef
  type="text"
  [(ngModel)]="email"
  (keydown.enter)="onKeyDown(emailRef.value)"
/>
<p>{{ emailRef.value }}</p>